html{
    background-color: #f2fff0;
}

header
{
	background-color: #219a1d; 
}
header .menu
{
	background-color: #219a1d;
}
header .profile-info{
	color: #fff;
}
.bodysection .lmenu{
    border-top: 1px solid #a6cca9;
    background-color: #219a1d;
}
.lbutton{
	background-color: #2ec226;
	color: #fff;
}
.lbutton:hover{
	background-color: #a7cca6;
}
.button2
{
	background-color: #2ec226;
	color: #fff;
}
.button2:hover
{
	background-color: #a7cca6;
}
.button1
{
	background-color: #158411;
	color: #fff;
}
.button1:hover
{
	background-color: #18a31f;
}
.button1long
{
	background-color: #11841b;
	color: #fff;
}
.button1long:hover
{
	background-color: #18a31d;
}
.button2long
{
	background-color: #30c226;
	color: #fff;
}
.button2long:hover
{
	background-color: #a6ccaa;
}
.panel
{
	background-color: #219a1d;
	color: white;
}
.container
{
	border: 3px solid #219a1d;
    background-color: #cfd8e0;
}
.welcome
{
	background-color: #219a1d;
	color: white;
}
.loginBox
{
	background-color: #fff;
	border: 1px solid #777;
	color: #000;
}
.historyelement
{
	background-color: #ffd9a4;
	border: 1px solid #fff;
	color: #000;
}
.historyelement_comment
{
	background-color: #fff;
	border: 1px solid #777;
}
.popup
{
	background-color: #fff;
	border: 2px solid #000;
}
.popupBlocker
{
	background-color: #000;
}
.w-tooltip[data-descr]:hover::after,.w-tooltip[data-descr]:focus::after
{
	background-color: #ffd9a4;
	border: 1px solid #777;
	color: #000;
}
.paneltable
{
	border: 1px solid #000;
}
.paneltable td
{
	border: 1px solid #000;
}
.paneltable tr
{
	border: 1px solid black;
}
.paneltable th
{
	background-color: #219a1d;
	border: 1px solid #000;
	color: #fff;
}